---
layout: page
title: Projekte
---

{% include card.html title="FakeStandby" link="https://fakestandby.jonasbernard.de" link-text="Zur Webseite"
text="FakeStandby ist eine Android-App mit der du deinen Bildschirm ausschalten kannst, ohne dass laufende Apps es bemerken." %}
{% include card.html title="Skripte" link="skripte/" link-text="Skripte ansehen"
text="Von mir (und Freunden) geschriebene kleine Skripte." %}
{% include card.html title="TU Darmstadt Moodle Wrapper" link="https://github.com/JonasBernard/TU-Darmstadt-Moodle-Wrapper/releases/download/v1.0/TU-Darmstadt-Moodle-Wrapper.apk" link-text="APK herunterladen"
text="Eine Android App, mit der sich Moodle-Links der TU Darmstadt direkt in der Moodle App öffnen lassen." %}
