---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1000px;
}
.display-flex {
  display: flex;
}

/* Cards */
.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-list .card {
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-list-columns-1 .card {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.card-list-columns-2 .card {
  flex-basis: calc(50% - 20px);
}

.card {
  color: white;
  border-radius: 12px;
  background: #2e7bcf url(../images/header-bg.jpg) 5px 7px repeat-x;
  display: flex;
}

.card .card-border {
  margin: 10px;
  padding: 1.5rem;
  padding-left: 3.3rem;
  border-radius: 5px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  background-color: transparent;
}

.card-light .card-border {
  background-color: #ffffff30;
}

.card .card-footer {
  margin-left: -1.8rem;
  border-top: solid #dcf3ff 1px;
  padding-top: 1rem;
}

.card .card-footer a.card-link {
  margin-left: 1.8rem;
  float: right;
}

.card .card-footer .card-comment {
  float: right;
}

.card a.card-link {
  color: #dcf3ff;
}

.card a.card-link::after {
  content: ' ->';
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  right: 0;
  color: #9ddcff;
}

.card a.card-link:hover::after {
  padding-left: 5px;
}

.card a.card-link:hover {
  margin-right: -5px;
}

@media only screen and (max-width: 959px) {
  .card-list .card {
    margin: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .card-list {
    flex-direction: column;
  }
}

#main-content .card .card-title {
  margin-top: auto;
  color: #dcf3ff;
}

#main-content h2::before {
  padding-right: 0;
}

.navigation li {
  list-style-type: none;
  font-size: 1rem;
  /*border: solid #dcf3ff 2px;*/
  background-color: #ffffff30;
  margin: 3px;
  padding: .3rem;
}

.navigation li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navigation li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation li a {
  color: #dcf3ff;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: bold;
}

.navigation {
  padding-left: 0;
  background: #2e7bcf url(../images/header-bg.jpg) 5px 7px repeat-x;
  border-radius: 7px;
  border: solid #2879d0 2px;
}
