---
layout: page
title: Skripte
permalink: /skripte/
columns: 1
---

{% include link-card.html title="Alle Skripte" link="https://github.com/JonasBernard/Skripte#skripte" link-text="README ansehen"
text="Die Skripte sind auf GitHub in einem README genauer beschrieben. Dort befinden sich auch Links zu Inspirationsquellen." theme="dark" %}
{% include link-card.html title="Autobiographische Zahl" link="https://github.com/JonasBernard/Skripte/blob/master/autobiographische_zahlen.py" link-text="Zum Skript"
text="Wenn für jede Ziffer einer nartürlichen Zahl gilt, dass eine Ziffer an
n-ter Stelle die Häufigkeit der Ziffer n-1 in dieser Zahl angibt, dann heißt diese Zahl autobiographisch oder selbstbeschreibend.
Das Skript bestimmt autobiographische Zahlen, indem es jede Zahl in einem angegebenen Zahlenbereich auf die Bedingung für eine autobiographische Zahl hin überprüft." %}
{% include link-card.html title="FizzBuzz" link="https://github.com/JonasBernard/Skripte/blob/master/fizzbuzz.py" link-text="Zum Skript"
text="Bei FizzBuzz wird von 1 an hoch gezählt, mit der Besonderheit, dass jede Zahl, die durch 3 teilbar ist
durch \"Fizz\" und jede Zahl, die durch 5 teilbar ist durch \"Buzz\" ersetzt wird. Sobald eine Zahl durch sowohl 3 als auch 5 teilbar ist, sagt man FizzBuzz.
Das Skript gibt die gesagten Zahlen bzw. Wörter nach diesen Reglen aus." %}
{% include link-card.html title="Sherlock" link="https://github.com/JonasBernard/Skripte/blob/master/sherlock.py" link-text="Zum Skript"
text="48 ist eine besondere Zahl. Man kann zu ihr 1 addieren, und erhält eine Quadratzahl. Nun macht diese Eigenschaft sie noch nicht besonders.
Wenn man die Zahl jedoch halbiert, erhält man erneut eine Zahl, auf die diese Eigenschaft zutrifft.
Welche ist nun nach 48 die nächstgrößere Zahl, die auf diese Weise besonders ist? Das Skript berechnet die Antwort auf diese Frage." %}
{% include link-card.html title="Sudoku" link="https://github.com/JonasBernard/Skripte/blob/master/sudoku.py" link-text="Zum Skript"
text="Sudokus machen vielen Menschen Spaß, aber auch Computern. Im Skript befindet sich eine rekursive Funktion, die die Lösungen von Sudokus ermittelt." %}
{% include link-card.html title="Zahlen quadrieren" link="https://github.com/JonasBernard/Skripte/blob/master/zahlen_quadrieren.py" link-text="Zum Skript"
text="Anstatt eine Zahl n mit sich selbst zu multiplizieren, um sie zu quadrieren, kann man sie auch zur Basis b mit b = n schreiben und die Anzahl der Nullen verdoppeln.
Das diese Methode jedoch höchst ineffizient ist, zeigt das Sktipt." %}
