---
layout: page
title: Spam Mail-Verlauf
permalink: /spam-mail/
columns: 1
---


{% include card.html title="Friede sei mit dir."
text="Hallo,


Ich sende Ihnen diese E-Mail, weil sie mir wichtig ist. Ich weiß, dass Sie mich nicht kennen und wir uns noch nicht getroffen haben, aber als ich Ihre Informationen im Internet sah, habe ich beschlossen, Sie zu kontaktieren. Ich bitte Sie um Ihr Verständnis, wenn Sie diese E-Mail lesen.

Ich bin Sieglinde Dungel aus Ganserndorf, Republik Österreich. Ich bin der Partner des verstorbenen Hans-Peter Dungel. Mein Partner starb vor einigen Jahren an den Folgen von Krebs. Ich begann eine Beziehung mit meinem verstorbenen Partner, nachdem er sich von seiner ersten Frau scheiden ließ, die drei Kinder für ihn hatte. Leider habe ich kein Kind für meinen verstorbenen Partner gezeugt und wir waren nicht legal verheiratet.

Nach dem Tod meines verstorbenen Partners nutzten seine drei Kinder gesetzliche Befugnisse, um alles zu erben, was mein verstorbener Partner zurückgelassen hatte, um mich mit nichts zu leben. Sie drohten verbal, mich zu töten, wenn ich versuche, das Eigentum oder Geld ihres verstorbenen Vaters zu beanspruchen.

Es gibt etwas, das ich Ihnen überprüfen und auch mit Ihnen besprechen möchte. Ich möchte Ihnen mitteilen, dass mein verstorbener Partner vor seinem Tod die Summe von sieben Millionen dreihundertachtzigtausend britischen Pfund (£ 7.380.000,00 GBP) auf ein Treuhandkonto bei einer Bank in London eingezahlt hat Großbritannien zu meinen Gunsten als Nutznießer des Geldes. Gemäß der Hinterlegungsurkunde kann ich das Geld erst nach dem Tod meines verstorbenen Partners abrufen oder einfordern.

Nach dem Rechtsstreit mit den Kindern meines verstorbenen Partners, den ich verloren habe, und den Drohungen, die ich von ihnen erhalte. Ich habe beschlossen, Österreich zu verlassen, um in Ihr Land auszuwandern und dort zu leben. Zu diesem Zweck möchte ich die sieben Millionen dreihundertachtzigtausend britischen Pfund (£ 7.380.000,00 GBP) abrufen und einfordern, die auf einem Treuhandkonto bei einer Bank in London, Großbritannien, hinterlegt sind.

Wenn ich die sieben Millionen dreihundertachtzigtausend britischen Pfund (£ 7.380.000,00 GBP) abrufe und beanspruche, die auf einem Treuhandkonto bei der Bank in London, Großbritannien, hinterlegt sind, kostet dies Geld. Ich habe nicht das Geld, um das auf einem Treuhandkonto bei einer Bank in London, Großbritannien, eingezahlte britische Pfund in Höhe von 7.380.000,00 GBP abzurufen und zu fordern

Ich möchte das £ 7.380.000,00 abrufen und einfordern, das auf einem Treuhandkonto bei der Bank in London, Großbritannien, hinterlegt ist, damit ich mit dem Geld ein Haus auf dem Land kaufen, in ein gutes Geschäft investieren und ein angenehmes Leben führen kann in deinem Land bis zu dem Zeitpunkt, an dem ich diese Welt verlassen werde.

Der Grund, warum ich Ihnen diese E-Mail sende, besteht darin, Sie zu bitten, mir mit Geld zu helfen, damit ich das auf einem Treuhandkonto bei einer Bank in London, Großbritannien, eingezahlte britische Pfund in Höhe von 7.380.000,00 GBP abrufen und einfordern kann. Ich werde Ihnen 10% der sieben Millionen dreihundertachtzigtausend britischen Pfund (7.380.000,00 GBP) geben, was siebenhundertachtunddreißigtausend britischen Pfund (738.000,00 GBP) entspricht, um Sie für Ihre Hilfe zu entschädigen.

Vielen Dank für Ihr Verständnis und möge Gott Sie für Ihre Hilfe segnen. Ich erwarte Ihre Antwort an meine unten angegebene private E-Mail-Adresse:

sieglindedungelsd@gmail.com

Sieglinde
" %}


{% include card.html title="Re: Friede sei mit dir." theme="dark"
text="Hallo,


Ihre Anfrage bezüglich ihres verstorbenen Partners hat mich sehr berührt. Ich wünsche mir für Sie, dass sie die sieben Millionen dreihundertachtzigtausend britische Pfund von einem Treuhandkonto in einer Bank in London, Großbritannien, abrufen und einfordern können.

Die 10% sind mir viel zu viel, ich möchte gerne am Ende bitte 5% der sieben Millionen dreihundertachtzigtausend britischen Pfund, also dreihundertneunundziebzig Tausend britische Pfund als Dank erhalten.

Um ihnen helfen zu können, möchte ich ihnen gerne 5 tausend Euro zur Verfügung stellen. So können sie dann in mein Land auswandern.


Vielen Dank für Ihre Anfrage und möge Gott Sie segnen.

Mustafa
" %}

{% include card.html title="Möge Gott dich segnen."
text="Hallo Mustafa,

Vielen Dank für Ihre Bereitschaft, mir zu helfen. Ich bin sehr
dankbar. Ich werde Ihnen 5 Prozent des Geldes geben, wie Sie angefordert
haben. Sollte ich ein Bankkonto angeben, damit Sie die 5.000 Euro
überweisen können?

Nochmals vielen Dank für Ihre Hilfe. Möge Gott dich segnen.

Sieglinde Dungel
" %}

{% include card.html title="Re: Möge Gott dich segnen." theme="dark"
text="Hallo Siegline.

Schicken sie mir gerne eine Bankverbindung. Die ersten 3500 Euro kann ich dann überweisen.
Die restlichen 1500 Euro sind leider auf einem Treuhandkonto auf einer Bank in Berlin, Deutschland.
Diese möchte ich abheben, sie können diese dann bar in meiner Käserei abholen, wenn sie in mein Land ausgewandert sind.
Um auf diese zugreifen zu können brauche ich Geld. Ich brauche nur 20 Euro. Das können sie gerne auf folgendes Konto überweisen:

https://paypal.me/kasereimondschein

Alles Beste und Gute
Mustafa
" %}



{% include card.html title="Nachwort"
text="Das wars leider schon. Dannach habe ich keine Antwort mehr bekommen.

Am 01.10.2020 habe ich von captain.jjames@gmail.com die erste Spam-Mail erhalten und darauf reagiert.
Ich habe dazu nicht auf irgendeinen Link geklickt, und Anmeldedaten weitergegeben. Beim Umgang mit Spam sollte man
wie allgemein bekannt vorsichtig umgehen." %}
