---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="card-list">
    <div class="card card-light">
      <div class="card-border">
        <h2 class="card-title">
          FakeStandby
        </h2>
        <p class="card-text">
          FakeStandby is an Android app to turn off your screen while keeping apps running.
        </p>
        <hr>
        <a class="card-link" href="https://fakestandby.jonasbernard.de">Visit Website</a>
      </div>
    </div>
  </div>

  <ul class="post-list">
    {% if site.posts.size > 0 %}
      {% for post in site.posts %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>


</div>
