---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="card-list card-list-columns-{{ page.columns | default: 2 }}">
    {{ content }}
  </div>

  <ul class="post-list">
    {% if site.posts.size > 0 %}
      {% for post in site.posts %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>


</div>
